.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'nanumsquare';
  background-color: beige;
  overflow: hidden;
}

.full-box {
  background-color: cadetblue;
  width: 100%;
  min-height: 200px;
  /* position: absolute; */
}

#list-view-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 110%;
  background-color:cadetblue
}

#list-view-wrapper .wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.start-button {
  background: white;
  width: 80%;
  height: 60px;
  border-radius: 7px;
  font-size: 20px;
}

.start-button:hover {
  background: grey;
  color: white;
}

.answer-button {
  background: white;
  width: 80%;
  height: 60px;
  border-radius: 7px;
  font-size: 20px;
}

.answer-button:hover {
  background: grey;
  color: white;
}

.question-box {
  margin: 0px 0px 40% 0px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
