.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  height: 100%;
  font-family: 'nanumsquare';
  background-color: cadetblue;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.full-box {
  background-color: cadetblue;
  width: 100%;
  min-height: 200px;
}

#list-view-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 110%;
  background-color:cadetblue
}

#list-view-wrapper .wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.start-button {
  background: white;
  width: 510px;
  height: 60px;
  border-radius: 7px;
  font-size: 20px;
  margin-top: 20px;
}

.start-button:hover {
  background: grey;
  color: white;
}

.answer-button {
  background: white;
  width: 100%;
  height: 60px;
  border-radius: 7px;
  font-size: 20px;
}

.answer-button:hover {
  background: grey;
  color: white;
}

.question-box {
  padding-left: 20%;
  padding-right: 20%;
  margin: 0px 0px 40% 0px;
}

.white-font {
  color:white;
}
.person-img {
  width: 420px;
  height: 420px;
  object-fit: cover;
  box-shadow: 0px 0px 35px #000;
}

.description-box {
  width: 100%;
  height: auto;
  background-color: rgb(252, 233, 205);
  box-shadow: 0px 0px 40px #000;
  border-radius: 7% 7% 0px 0px;
}

.grey-font {
  color: rgb(48, 48, 48);
  padding-top: 20px;
}

ul > li {
  text-align: left;
  margin-left: 15%;
}

h3.inline {
  display: inline-block;
  margin-left: 6.5%;
  margin-right: 6.5%;
}

.relationship-card {
  width: 200px;
  height: 260px;
  background-color: white;
  margin: auto;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 7%;
  box-shadow: 0px 0px 20px #000;
}

.relationship-card > img {
  width: 150px;
  height: 170px;
}

.description {
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
